@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'chalet_newyork';
    src: url('fonts/chalet_new_york_nineteen_sixty-webfont.eot');
    src: url('fonts/chalet_new_york_nineteen_sixty-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chalet_new_york_nineteen_sixty-webfont.woff') format('woff'),
         url('fonts/chalet_new_york_nineteen_sixty-webfont.ttf') format('truetype'),
         url('fonts/chalet_new_york_nineteen_sixty-webfont.svg#chalet_newyorknineteensixtyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet_london';
    src: url('fonts/chalet_london_nineteen_sixty-webfont.eot');
    src: url('fonts/chalet_london_nineteen_sixty-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chalet_london_nineteen_sixty-webfont.woff') format('woff'),
         url('fonts/chalet_london_nineteen_sixty-webfont.ttf') format('truetype'),
         url('fonts/chalet_london_nineteen_sixty-webfont.svg#chalet_londonnineteensixtyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-size:16px;
	color:#646464;
}

.linkDiv{
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
}

.round{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.round-ac{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.round-bd{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.txt-branco{ color:#fff; }
.txt-azul{ color:#890213; }

.txt-12{ font-size:12px; }
.txt-16{ font-size:16px; }
.txt-20{ font-size:20px; }

.align-right{ text-align:right; }

.h2-top-ranking{ float:left; width:20%; font-size:27px; margin:0px; line-height:50px; }

.box-select{
	float:right;
	width:55%;
	margin-top: 8px;
}

.box-metade{ width:50%; padding:20px; float:left; }

.min-height-500{ min-height:500px; }

.linha-cinza{
	background-color:#ebebeb;
	height:1px;
	width:100%;
	margin:20px 0px 20px 0px;
}


h1{ font-family: "chalet_newyork", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h2{ font-family: "chalet_newyork", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h3{ font-family: "chalet_newyork", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#890213; font-weight:bold; }

.h2-a{
	float:left;
	width:40%;
	font-size:27px;
	margin:0px;
}

.h2-b{
	clear: both;
	text-align:center;
	font-size:50px; color:#fff;
	padding-top: 10px;
}

.bg-verde{ background-color:#79ca37; }
.bg-azul{ background-color:#890213; }
.bg-amarelo{ background-color:#ffcd00; }
.bg-laranja{ background-color:#ff8200; }

.border-verde{ border-color:#79ca37; }
.border-azul{ border-color:#890213; }

.box-6-col{
	height:190px;
	margin-bottom:20px;
	padding:20px;
}

#triangulo-top3{
	width:39px;
	height:16px;
	background:url(../images/img-triangulo-verde.png) no-repeat 0 0;
	position:relative;
	left:50%;
	margin-left:-20px;
	top:50px;
	/*margin:-10px 0px 0px 160px;*/
	z-index:999;
}

#triangulo-top-ranking{
	width:39px;
	height:16px;
	background:url(../images/img-triangulo-verde.png) no-repeat 0 0;
	position:relative;
	left:50%;
	margin-left:-20px;
	top:50px;
	/*margin:-10px 0px 0px 160px;*/
	z-index:999;
}




/* navbar */

.navbar{ margin-bottom:0px !important; }

.navbar-nav>li {
	font-family: "chalet_newyork", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background-image:url("../images/ico-nav-quem-arredonda.png");
	background-repeat: no-repeat;
	background-position: center 15px;*/
}

/*.navbar-nav>li.nav-quem-arredonda {
	background-image:url("../images/ico-nav-quem-arredonda.png");
}
.navbar-nav>li.nav-mapa {
	background-image:url("../images/ico-nav-mapa.png");
}
.navbar-nav>li.nav-ranking {
	background-image:url("../images/ico-nav-ranking.png");
}
.navbar-nav>li.nav-financeiro {
	background-image:url("../images/ico-nav-financeiro.png");
}
.navbar-nav>li.nav-ongs {
	background-image:url("../images/ico-nav-ongs.png");
}*/


.navbar-nav>li>a {
	font-size:14px;
	line-height: 10px;
	height:20px;
}
.navbar-nav > li > a {
	margin-top:50px;
    padding-top: 0px;
}

.navbar-nav > li > a{ margin-left:10px; }

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
  
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  height: 20px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #79ca37;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #79ca37;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #79ca37;
}






@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  
}

#box-nav-ola{
	width:350px;
	height:20px;
	color:#FFF;
	position:absolute;
	z-index:99;
	margin-top:10px;
	right:0px;
}

#ola-fulano{
	width:240px;
	float:left;
	text-align:right;
	padding-right:20px;
	padding-top:5px;
	font-size:12px;
}

#btn-configuracoes{
	width:110px;
	float:left;
	/*background:url(../images/ico-nav-configuracoes.png) no-repeat 0 6px;
	padding-left:20px;*/
	z-index:999;
}

#btn-configuracoes a{
	font-size:10px;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
	font-family: 'chalet_newyork', 'Helvetica Neue' , Helvetica, Arial, sans-serif;
}



/* footer */
#main-footer{
	background-color:#890213;
	height:400px;
	padding-top:30px;
}

ul.nav-footer{
	margin:0px 0px 0px 30px;
	padding:0px;
	margin-bottom:25px;
}

ul.nav-footer li{
	list-style-type:none;
	margin:0px;
	padding:0px;
	text-indent:0px;
	font-size:15px;
	line-height:20px;
}

ul.nav-footer li a{
	color:#fff;
}

ul#kit-do-parceiro{
	padding-left:40px;
	background:url(../images/ico-kit-do-parceiro.png) no-repeat 0 0;
}

#box-sociais{
	width:70px;
	height:30px;
	margin-left:30px;
}

#btn-facebook{
	float:left;
	width:28px;
	height:30px;
	background:url(../images/ico-facebook.png) no-repeat 0 0;
	margin-right:12px;
}

#btn-instagram{
	float:left;
	width:28px;
	height:30px;
	background:url(../images/ico-instagram.png) no-repeat 0 0;
}

#logo-arredondar-branco{
	width:100px;
	height:52px;
	background:url(../images/logo-arredondar-branco.png) no-repeat 0 0;
	margin-left:60px;
}


/* home */
#box-noticias{
	min-height:260px;
	margin-bottom:20px;
	background-color:#FFF;
}

#img-noticia{
	float:left;
	width:260px;
	height:260px;
	background-color:#ccc;
}

#conteudo-noticia{
	float:left;
	width:490px;
	padding:20px;
}

.h2-conteudo-noticia{ padding:20px 20px 0px 280px; margin:0px; font-size:12px; color:#b4b4b4; }
.btn-blog{ position: absolute; top: 210px; right: 35px; }




#box-destaque{ margin-bottom:20px; background-color:#FFF; height:400px; }

#box-mapa{ height:160px; margin-bottom:20px; background-color:#FFF; }

#box-top3{
	height:50px;
	margin-bottom:10px;
	background-color:#79ca37;
	background-image:url(../images/top_3.png);
	background-repeat:no-repeat;
	background-position:center;
	/*color:#FFF;
	font-size:24px;
	line-height:50px;
	text-align:center;*/
}

.box-item-top3{ font-size:20px; color:#646464; height:50px; margin-bottom:10px; background-color:#ffffff; }
.box-numero-top3 { width:50px; height:50px; background-color:#79ca37; color:#FFF; font-size:24px; line-height:50px; text-align:center; position:absolute; }
.txt-nome-top3{ padding-left:70px; line-height:50px; width:60%; float:left; }
.txt-valor-top3{ padding-right: 20px; line-height: 50px; width: 40%; float: right; }

.h2-ongs-beneficiadas{ padding:10px 165px 0px 35px; margin:0px; font-size:14px; color:#890213; background:url(../images/ico-coracao.png) no-repeat 10px 10px; }

#triangulo-branco{
	width:16px;
	height:39px;
	background:url(../images/img-triangulo-branco.png) no-repeat 0 0;
	position:absolute;
	margin:52px 0px 0px 215px;
	z-index:999;
}


.nome-projeto{ padding:6px 165px 0px 20px; font-size:16px; color:#646464; }

/* ranking */
#box-top-ranking{ height:50px; margin-bottom:10px; background-color:#79ca37; color:#FFF; font-size:24px; line-height:50px; text-align:center; }

.txt-nome-top3-b{ padding-left:70px; line-height:50px; width:80%; float:left; }
.txt-valor-top3-b{ padding-right: 10px; line-height: 50px; width: 20%; float: left; text-align:right; }

.triangulo-top-verde{
	width:39px;
	height:16px;
	background:url(../images/img-triangulo-verde.png) no-repeat 0 0;
	position:relative;
	left:50%;
	margin-left:-20px;
	top:70px;
	z-index:999;
}


.triangulo-top-azul{
	width:39px;
	height:16px;
	background:url(../images/img-triangulo-azul.png) no-repeat 0 0;
	position:relative;
	left:50%;
	margin-left:-20px;
	top:70px;
	z-index:999;
}

.conteudo-branco{
	min-height:250px;
	background-color:#fff;
	padding:10px;
	margin-bottom:20px;
}

li#btn-assista-ao-video{ list-style-image:url(../images/ico-televisao.png); line-height:22px; margin-bottom:10px; }
li#btn-assista-ao-video a{ color:#890213; }

li#btn-ver-fotos{ list-style-image:url(../images/ico-fotos.png); line-height:22px; margin-bottom:10px; }
li#btn-ver-fotos a{ color:#890213; }

li#btn-impactos{ list-style-image:url(../images/ico-impactos.png); line-height:22px; margin-bottom:10px; }
li#btn-impactos a{ color:#79ca37; }

li#btn-transparencia{ list-style-image:url(../images/ico-transparencia.png); line-height:22px; margin-bottom:10px; }
li#btn-transparencia a{ color:#79ca37; }

.box-ico-metas-medio{
	float:left;
	width:60px;
	height:60px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:left top;
	margin:0px 10px 10px 0px;
}

.box-ico-metas-pequeno{
	float:left;
	width:30px;
	height:30px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:0 0;
	margin:0px 8px 8px 0px;
}

/* financeiro */
#conteudo-financeiro{ min-height:500px; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { background-color:#79ca37; border:none !important; }
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{ border:none !important; color:#fff; }
.nav-tabs.nav-justified>li>a{ color:#5a5a5a; border-bottom:1px solid #79ca37; }


.triangulo-top-verde-financeiro{
	width:39px;
	height:16px;
	background:url(../images/img-triangulo-verde.png) no-repeat 0 0;
	position:relative;
	left:50%;
	margin-left:-20px;
	top:16px;
	z-index:999;
}

#conteudo-financeiro table{
	background-color:#fff;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{ border-top:none !important; border-bottom:1px solid #ebebeb; }

.table-header{
	font-size:12px;
	color:#890213;
	font-weight:bold;
}

.btn.bg-laranja{ border:1px solid #ff8200; }
.btn.bg-azul{ border:1px solid #009dd0; }
.btn.bg-verde{ border:1px solid #79ca37; }

nav .container{ position:relative; background-color:#890213; padding:0px !important; }

.navbar-toggle{ margin-top:20px; }

.linha-cinza2{
	background-color:#ebebeb;
	height:1px;
	width:75%;
	margin:4px 0px 0px 10px;
}

.meta{ font-size:14px; text-align:right; padding:0px 180px 0px 0px; }

.progress{ background-color:#ebebeb !important; border:none !important; box-shadow:none !important; }

#navbar-header{ z-index:9999; }


/* #Media Queries
================================================== */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
#triangulo-branco{ margin:52px 0px 0px 148px !important; }
.linha-cinza2{ width:45%; }
.progress{ width:40% !important; }
.meta{ font-size:12px; text-align:left; padding:4px 0px 0px 20px; }
.nome-projeto{ font-size:12px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
.box-logos{ width:230px; height:230px; }
.progress-ong-azul{ width:100% !important; }
.progress-ong-amarelo{ width:60% !important; }
#conteudo-noticia{ float:left; width:330px; }
.h2-conteudo-noticia{ padding:20px 20px 0px 0px; }
.btn-blog{ position: absolute; top: 210px; right: 35px; }
/*#img-noticia{ float:left; width:100%; height:260px; background-size:cover; }*/
}


@media only screen and (max-width: 959px) {
#triangulo-branco{ margin:52px 0px 0px 140px !important; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
#logo-arredondar-branco{ margin-left:20px; margin-top:20px; }
.nav>li>a { font-size:14px; }
.nav-tabs li > a{ font-size:12px !important; padding:10px 0px !important; }	
}

@media only screen and (max-width: 959px) {
#conteudo-noticia{ width:400px;}
#conteudo-noticia p{ margin:0px !important; padding:10px 20px 20px 20px; }
.h2-conteudo-noticia{ padding:20px 20px 0px 20px; margin:0px; font-size:12px; color:#b4b4b4; }
.btn-blog{ position:relative; margin:0px 0px 20px 20px; top:auto; right:auto; }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
.navbar-nav>li>a { font-size:10px; }
#triangulo-branco{ margin:52px 0px 0px 575px !important; }
.progress{ width:73% !important;}
.box-logos{ width:177px; height:177px; }
.nav>li>a { font-size:14px; }
.nav-tabs li > a{ font-size:12px !important; padding:10px 0px !important; }
.progress-ong-azul{ width:100% !important; }
.progress-ong-amarelo{ width:100% !important; }
.linha-cinza-ong-amarelo{ margin-top:30px; }
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
#logo-arredondar-branco{ margin-left:20px; margin-top:20px; }
.nav-tabs.nav-justified>li>a{ border-bottom:1px solid #fff; border-top:none; border-right:none; border-left:none; border-radius:0px; }
.nav-tabs{ background-color:#fff; }
#box-filtros-financeiro{ padding:0px; }
.div-select{ width:100%; clear:left; margin:0px auto 10px auto !important; }
.wrap-select-financeiro{ padding:10px 0px 0px 0px; margin:0px;  width:100% !important; }
select.form-control{ width: 260px !important; display:block !important; clear:left !important; margin:0px !important; padding:0px !important; }
.btn-mobile{ width:260px !important; clear:left; margin:0px 0px 10px 0px !important; display:block; }
.btn-mobile-pequeno{ width:90px !important; font-size:12px; clear:left; margin:0px 0px 10px 0px !important; display:block; }
.div-btn-mobile{ width:100% !important; }
#top-escolha-a-ong{ height:98px; padding:10px 0px 0px 10px; }
.triangulo-top-verde{ top:88px; }
.box-metade{ width:100%; }
.align-right{ text-align:left; }
.padding-left-20-mobile{ padding-left:20px; }
.h2-top-ranking{ clear:left !important; display:block !important; width:100% !important; }
#box-top-ranking{ height:200px; padding:0px 0px 0px 10px; }
#triangulo-top-ranking{ top:200px; }
.box-item-top3 p{ font-size:12px; }
.box-logos{ width:227px; height:227px; }
#ongs-atendidas{ margin-bottom:20px; }
.linha-cinza-ong-amarelo{ margin-top:30px; }


#box-nav-ola{ height:30px; margin-top:10px; padding-left:130px; left:0; }
#ola-fulano{ float:none; text-align:left; padding-left:10px; }
#btn-configuracoes{ width:150px; height:15px; float:none; padding-left:10px;}
}


@media only screen and (max-width: 707px) {
#img-noticia{ width:100%; background-size:cover; float:none; }
#conteudo-noticia{ width:100%; float:none;}
#conteudo-noticia p{ margin:0px !important; padding:10px 20px 20px 20px; }
.h2-conteudo-noticia{ padding:20px 20px 0px 20px; margin:0px; font-size:12px; color:#b4b4b4; }
.btn-blog{ position:relative; margin:0px 0px 20px 20px; top:auto; right:auto; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.wrap-select-financeiro{ padding:0px; margin:0px; width:100% !important; }
.div-select{ width:100%; clear:left; margin:0px auto 10px auto !important; }
.wrap-select-financeiro{ padding:10px 0px 0px 0px; margin:0px;  width:100% !important; }
select.form-control{ width: 200px !important; display:block !important; clear:left !important; margin:0px !important; padding:0px !important; }
.btn-mobile{ width:200px !important; clear:left; margin:0px 0px 10px 0px !important; display:block; }
select.select-home{ width: 150px !important; }
select.form-control{ width: 500px !important; display:block !important; clear:left !important; margin:0px !important; padding:0px !important; }
.btn-mobile{ width:500px !important; clear:left; margin:0px 0px 10px 0px !important; display:block; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.box-logos{ width:290px; height:290px; }
select.form-control{ width: 260px !important; display:block !important; clear:left !important; margin:0px !important; padding:0px !important; }
.btn-mobile{ width:260px !important; clear:left; margin:0px 0px 10px 0px !important; display:block; }
.h2-ongs-beneficiadas{ font-size:10px; }
.nome-projeto{ font-size:12px; }
select.select-home{ width: 130px !important; }
}

.logado{
	float:right;
}
.form-logar{
	float:right;
	width:20%;
}

@media (max-width: 767px) {
	.navbar-nav > li > a{
		margin-top: 16px;
		padding-top: 0px;
  	}
  	.navbar-brand{
  		margin-left: 30px;
  	}
  	.navbar-toggle{
  		margin-right: 30px;
  	}
  	.logado{
  		margin-right: 30px;
  	}
  	.form-logar{
  		width:55%;
  		margin-right: 10px;
  		margin-top: 10px;

  	}

}