body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.clear-left{
  clear:left;
}

.modal {
  left: 50%;
  bottom: auto;
  right: auto;
  padding: 0;
  width: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.container {
  max-width: none;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 24, 2014, 9:06:31 PM
    Author     : gilmar.junior
*/

header {
    height: 110px;
}
footer{
    height: 110px;
}

.form-horizontal .form-group select {
    width: 100% !important;
}

.content .img-rounded {
    width: 100%;
    min-height: 180px;
}
.facebook{
    height: 40px;
    width: 54px;
    float: right;
    margin: 10px 10px 10px 10px;
}
.twitter{
    background-image: url(./imagens/twitter.png);
    height: 40px;
    width: 54px;
    float: right;
    margin: 10px 10px 10px 10px;
    
}
.nav-quem-somos{
    
}
.nav-cadastrar{
    background-image: url(./images/botao.png);
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
    left: 50%;
  z-index: 100;
}


/* Galeria CSS */

.box-img { 
    float: left;
    display: block;
    height: 232px;
    width: 232px;
    margin: 10px;
    margin-top: 40px;
    margin-right: 70px;
}
.box-img img { 
  padding: 15px; 
  border: 1px solid #ccc; 
  background-color: #eee; 
}

  /* Header */

.nav-header{
  background-color:#000; 
  background: linear-gradient(to left, #890213 50%, #890213 50%);
}

.form-header{
  color:#fff;
  margin-top:10px; 
  font-size:15px;
}

.link-header{
  color:#fff;
}

.logo-header{
  height:100px; 
  padding:0px;
}

/*Busca lateral*/

.busca-lateral{
  margin-top: 6%;
}

.texto-busca-lateral{
  text-align: center;
}

/*Footer*/

.color-footer{
  background: #890213;
}

.texto-footer{
  color:#fff;
  margin-left: 10px;
}

/*Cadastro Imagens*/

.cadastro-imagens{
  width:103%;
}

.upload-margin{
  margin-left:114px;
}

/*mapa*/

.tamanho-mapa{
  height: 300px; 
  width:100%; 
  margin: 10px 0px 10px auto;
}

.home-busca{
  margin-top:2%;
}